<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>REST Client: Hospitals supporting basic EHR notes</title>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Healthcare Info</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="page-header">
        <h1>Hospitals supporting basic EHR notes in each state in 2014</h1>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <td>State</td>
            <td>Percentages of Hospitals</td>
        </tr>
        <tr th:each="healthStateList: ${healthStateList}">
            <td th:text="${healthStateList.region}">State</td>
            <td th:text="${healthStateList.pctHospitalsBasicEhrNotes}">Percentage</td>
        </tr>
        </table>
</div>

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/site.js"></script>
</body>
</html>